*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  color: black;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
}

.mr-2 {
  margin-right: 1rem!important;
}

.exercise-enter {
  opacity: 0;
}

.exercise-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exercise-exit {
  opacity: 1;
}

.exercise-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
